/*newsleter*/
.section_p1 {
  padding: 20px;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/public/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  height: fit-content;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .normali {
  background-color: #3bb77e;
  align-items: center;
  padding: 16px;
  height: 3.125rem;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

/*footer*/
.footer1st .logo {
  font-size: 2rem !important;
  color: #333;
  font-weight: bolder;
}
.footer1st .logo span {
  color: var(--pink);
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-self: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: 550;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  margin-bottom: 10px;
  color: #222;
  text-decoration: none;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
  color: #3bb77e;
}
footer .install img {
  margin: 10px 0 15px 0;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #3bb77e;
  border-radius: 6px;
  margin: 2px;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
/* .Exclude {
  display: "flex";
  flex-direction: row;
} */

@media only screen and (max-width: 768px) {
  footer {
    display: block;
    text-align: center;
    margin-bottom: 35px;
  }
  #newsletter .form {
    width: 100%;
  }
  #newsletter h4 {
    text-align: center;
  }
  #newsletter p {
    text-align: center;
  }
  .icon {
    margin: 1% 30%;
    align-items: center;
    text-align: center;
  }
  #Exclude {
    display: none;
  }
  .section_p1 {
    padding: 4px 20px;
  }
}
